.cw-slideshow {
	position: relative;
	z-index: 2;
	background-color: #fff;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-color .5s, opacity .5s;
	margin-bottom: 30px;
	opacity: 0;

	&.loaded {
		opacity: 1;
		transition: background-color .5s, opacity .5s;
	}

	.slide {
		text-align: left;
		overflow: hidden;

		.slide-words {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.slide-title{

			}

			.slide-caption {

			}
		}

		&.active-slide {
			.slide-words {
				.slide-title {

				}

				.slide-caption {

				}
			}
		}
	}
}

@media all and (min-width: 1024px) {
	.cw-slideshow {
		.slide {
			.slide-words {
				.slide-title{

				}

				.slide-caption {

				}
			}
		}
	}
}