body {
	&.mobile-nav-open {
		overflow: hidden;
	}
}

.off-canvas-wrap {
	position: relative;
	width: 100%;
	clear: both;
	overflow: hidden;
	-webkit-backface-visibility: hidden;

	.off-canvas-wrap-inner {
		position: relative;
		top: 0;
		width: 100%;
		@include: transform(translate3d(0, 0, 0);
		transform: translateX(0);
		transition: .5s;
		overflow: visible;
	}

	.mobile-nav-open & {
		min-height: 100%;
		-webkit-overflow-scrolling: touch;

		.off-canvas-wrap-inner {
			@include: transform(translate3d(75vw, 0, 0);
			transform: translateX(75vw);
			transition: .5s;
		}
	}
}

// header and nav
[role=banner] {
	position: relative;
	z-index: 10;

	.logo {
		position: relative;
	}

	// nav
	.menu-toggle {
		position: relative;
		display: inline-block;
		cursor: pointer;
		height: 12px;

		.fa-times {
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(0);
			transition: .25s;
		}

		.fa-bars {
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1);
			transition: .25s;
		}

		&.closebtn {
			.fa-times {
				transform: scale(1);
				transition: .25s;
			}

			.fa-bars {
				transform: scale(0);
				transition: .25s;
			}
		}
	}

	.mobile-nav-open & {
		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					box-shadow: 0 0 0 200vh rgba(255, 255, 255, .5);
				}
			}
		}
	}

	.cw-nav-cont {
		padding: 15px 0;

		[role="navigation"] {
			.menu {
				position: absolute;
				top: 0;
				right: 100%;
				width: 75vw;
				height: 100vh;
				overflow: hidden;
				flex-direction: column;
				transition: .5s;
				margin: 0;
				padding: 0;
				overflow-y: auto;
			}
		}
	}
}

@media all and (min-width: $smlWidth) {
	.off-canvas-wrap {
		.off-canvas-wrap-inner {
			overflow: hidden;
			transform: ;
		}
	}

	[role=banner] {
		.menu-toggle {
			display: none;
		}

		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					position: relative;
					width: auto;
					height: auto;
					right: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					background-color: transparent;
					margin: 0;
					top: auto;
					padding: 0;
				}
			}
		}
	}
}