.lload {
	opacity: 1;
	transition: opacity .5s, transform .01s ease-in-out .5s;

	&.lleft {
		transform: translateX(0);
	}

	&.lright {
		transform: translateX(0);
	}

	&.lup {
		transform: translateY(0);
	}

	&.ldown {
		transform: translateY(0);
	}

	&.lzoomin {
		transform: scale(1);
	}

	&.lzoomout {
		transform: scale(1);
	}

	&.lrotateright {
		transform: rotate(0);
	}

	&.lrotateleft {
		transform: rotate(0);
	}

	&.lloaded {
		transform: rotate(0) scale(1) translateX(0) translateY(0);
		opacity: 1;
		transition: 1s;
	}

	&.lchildren {
		.lchild {
			opacity: 1;
			transition: opacity .5s, transform .01s ease-in-out .5s;

			&.lleft {
				transform: translateX(0);
			}

			&.lright {
				transform: translateX(0);
			}

			&.lup {
				transform: translateY(0);
			}

			&.ldown {
				transform: translateY(0);
			}

			&.lzoomin {
				transform: scale(1);
			}

			&.lzoomout {
				transform: scale(1);
			}

			&.lrotateright {
				transform: rotate(0);
			}

			&.lrotateleft {
				transform: rotate(0);
			}

			&.lloaded-child {
				transform: rotate(0) scale(1) translateX(0) translateY(0);
				opacity: 1;
				transition: .5s;
			}
		}
	}
}

@media all and (min-width: 640px) {
	.lload {
		opacity: 0;

		&.lleft {
			transform: translateX(-100px);
		}

		&.lright {
			transform: translateX(100px);
		}

		&.lup {
			transform: translateY(100px);
		}

		&.ldown {
			transform: translateY(-100px);
		}

		&.lzoomin {
			transform: scale(.875);
		}

		&.lzoomout {
			transform: scale(1.125);
		}

		&.lrotateright {
			transform: rotate(-10deg);
		}

		&.lrotateleft {
			transform: rotate(10deg);
		}

		&.lloaded {
			transform: rotate(0) scale(1) translateX(0) translateY(0);
			opacity: 1;
		}

		&.lchildren {
			.lchild {
				opacity: 0;

				&.lleft {
					transform: translateX(-100px);
				}

				&.lright {
					transform: translateX(100px);
				}

				&.lup {
					transform: translateY(100px);
				}

				&.ldown {
					transform: translateY(-100px);
				}

				&.lzoomin {
					transform: scale(.875);
				}

				&.lzoomout {
					transform: scale(1.125);
				}

				&.lrotateright {
					transform: rotate(-10deg);
				}

				&.lrotateleft {
					transform: rotate(10deg);
				}

				&.lloaded-child {
					transform: rotate(0) scale(1) translateX(0) translateY(0);
					opacity: 1;
				}
			}
		}
	}
}