@import "normalize";
@import "fontawesome";

// variables
$blue: #26668f;
$darkBlue: #142f60;
$blue2: #007db6;

$linkColor: $blue;
$linkHover: lighten($linkColor, 10%);
$fontColor: #333;

$mainFont: 'Montserrat', sans-serif;
$accentFont: 'Georgia', serfif;

@import "cw-grid";
@import "cw-mixins"; // This is where we can put custom mixins and classes

html, body {
	margin: 0;
	padding: 0;
	color: $fontColor;
	box-sizing: border-box;
	font-family: $mainFont;
}

body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
	font-size: .8em;

	display: flex;
	flex-direction: column;

	[role="main"]{
		flex: 1;
	}
}

* {
	outline: none!important;

	&:hover,
	&:focus {
		outline: none!important;
	}
}

//typography
$h2Size: 2em;

h1, h2, h3, h4, h5, h6 {
	margin: 0;

	&.page-title {

	}
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: $h2Size;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1em;
}

p, li  {
	font-size: 1em;
	color: $fontColor;
}

p {
	margin: 0 0 1em 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	transition: .25s;
	text-decoration: none;

	&:hover {
		color: $linkHover;
		transition: .25s;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

input[type="submit"], input[type="button"], button, .button {
	display: block;
	background-color: rgba($blue, .7);
	color: #fff;
	padding: 10px 20px;
	transition: .25s;
	cursor: pointer;

	&:hover {
		background-color: rgba($darkBlue, .7);
		color: #fff;
		transition: .25s;
	}

	&.flx {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 43px;
		font-size: .875em;

		svg, span {
			display: block;
		}

		span {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
		}

		svg {
			width: 20px;
		}
	}
}

.accent-font {
	font-family: $accentFont;
}

.italic {
	font-style: italic;
}

.blue-text {
	color: $blue;
}

.blue2-text {
	color: $blue2;
}

.darkblue-text {
	color: $darkBlue;
}

.caps {
	text-transform: uppercase;
}

.margin {
	margin-bottom: 15px;
}

.big-text {
	font-size: 1.4em;
}

.line-height {
		line-height: 1.1;
}

.med-weight {
	font-weight: 600;
}

// main content
[role="main"] {
	position: relative;
	z-index: 2;
	text-align: center;
	height: auto;

	.logo-mother {
		margin: 15px 0;
	}

	.cont-mother {
		position: absolute;;
		top: 50%;
		transform: translateY(-50%);
	}

	* {
		text-align: center;
	}
}

.footer {
	position: relative;
	width: 100%;
	mix-blend-mode: multiply;
	z-index: 2;

	img {
		display: block;
	}
}

.slide-dots {
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: 9999;
	margin-top: 30px;

	.slide-dot {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin-right: 10px;
		cursor: pointer;
		transition: .3s;
		box-shadow: 0 0 0 2px $blue2;

		&:hover, &.current {
			opacity: 1;
			background-color: $blue2;
			transition: .3s;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.imgs-mother {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;

	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-image: linear-gradient(to bottom, rgba($blue, 33.3333%) 0%, rgba(#fff, .5) 33.3333%);
	}

	.fade {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: center center no-repeat url(/img/fade.png);
		background-size: cover;
		z-index: 3;
	}

	ul {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		li {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.button-mother {
	margin-bottom: 30px;
}

// misc stuff, specific stuff, global stuff
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	top: 0;
	left: 0;
	opacity: 0;
}

.cf {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@media all and (min-width: $smlWidth) {
	[role="main"] {
		height: 100vh;

		.logo-mother {
			margin: 0 0 30px 0;
		}

		.cont-mother {
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			.main-content {
				&:after {
					@include beforeafter(block, absolute, '');
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100vw;
					height: 100vh;
				}
			}
		}
	}

	.margin {
		margin-bottom: 30px;
	}

	.slide-dots {
		display: flex;
	}

	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
	}

	.button-mother {
		position: relative;
		margin-bottom: 30px;
		z-index: 9999;

		.hidden {
			display: block;
			position: absolute;
			top: 50%;
			left: 35px;
			transform: translateY(-50%);
		}

		.hidden {
			opacity: 0;
			transition: .3s;
		}

		.text {
			opacity: 1;
			transition: .3s;
		}

		.phone {
			&:hover {
				.hidden {
					opacity: 1;
					transition: .3s;
				}

				.text {
					opacity: 0;
					transition: .3s;
				}
			}
		}
	}
}

 // print styles
@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow:none !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}
	a, a:visited {  }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	body {background:white;
		font-size:10pt;
		margin:0; }
	#sidebar { display:none; }
	#header { height:75px; }
	#content{ margin-left:0;
		float:none;
		width:auto; }
	.demo .red { color:black;
		font-weight:bold; }
	#content a { font-weight:bold;
		color:#000066;
		text-decoration:underline; }
	#content{ margin-left:0;
		float:none;
		width:auto; }
	#footer, .ad { display:none; }
	h1, h2, h3, h4, h5, h6 { page-break-after:avoid;
		page-break-inside:avoid; }
	h3 { margin-left:10px;
		margin-bottom:0px;
		padding-bottom:0px; }
	blockquote, table, pre { page-break-inside:avoid; }
	ul, ol, dl  { page-break-before:avoid; }
	img.centered { display: block;
		margin-left: auto;
		margin-right: auto; }
	img.right { padding: 4px;
		margin: 0 0 2px 7px;
		display: inline; }
	img.left { padding: 4px;
		margin: 0 7px 2px 0;
		display: inline; }
	.right { float: right; }
	.left { float: left; }
	img { page-break-inside:avoid;
		page-break-after:avoid; }
}
